*,
*::before,
*::after {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.6;
}

img{
    max-width :100%;
    display : block;
}

h1,h2,h3,p {
    margin :0 ;
}

section{
    padding: 7em 0;
}

.container{
    width: 85%;
    max-width :65em;
    margin : 0 auto;
}

.split{
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    justify-content: center;;

    &>*{
        flex-basis:30%;
        min-width:15em;
    }
}

.btn{
    display : inline-block;
    text-decoration: none;
    padding : .5em 1.25em;
    color :var(--clr-text,white);
    font-weight: 700;
    text-transform: uppercase;
    background : var(--clr-accent,#C68D1C);
    border-radius: .25em;
    transition :
        transform 250ms ease-in-out,
        opacity 175ms linear;   
}

.btn:hover,
.btn:focus {
    transform :scale(1.1);
    opacity : .9;
}

.primary-title{
    font-size : 4rem;
    font-size: clamp(3rem,calc(5vw+1rem),4rem);
    line-height :1;
    text-transform : uppercase;
}

.section-title{
    text-align:center;
    font-size:clamp(2.5rem, calc(5vw + 1rem),4rem);
    line-height: 1;
    color: #17353d;
    margin-bottom : 3rem;
}


.spacing>*+*{
    margin-top: var(--spacer, 2rem)
}

.hero {
    color :white ;
    text-align : center;
    padding : 15em 0;
    background :#222;

    @supports(background-blend-mode:multiply){
        background :
        url(../image/sun.png),
        radial-gradient(#40374b,#dac395);
        background-blend-mode :multiply;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position-y:center center;
    }
}
img{
    border-radius: 80px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
}

.featured{
    background: #eee;

    &__item{
        display: block;
        position: relative;
        transform: scale(.85);
        transition: transform 250ms ease-in-out;
        text-decoration :none;
        color: #333;
        text-align: center;

    &:hover,
    &:focus{
        transform:scale(1);
        .featured__details{
            opacity: 1;
        }
    }

    &::after{
        content: '';
        position :absolute;
        top:4%;
        left:1%;
        padding: 80% 80% 0 0;
        border-radius: 50%;
        background:#C68D1C;
        z-index:-1;
    } 
    }

    &__details{
        opacity:0;
        transition: opacity 250ms linear; 

            
        span{
            display:block;
            font-weight:700;
            font-size: 2.5rem;
        }

    }
}

.product{

    background: radial-gradient(var(--clr-inner,rgb(235, 241, 243)),var(--clr-outer,rgb(192, 202, 49)));
    padding: 3em;
    border-radius: 3em;
    margin-bottom: 3em;
    text-align: center;

    &__title{

        font-size: 4rem;
        line-height:1.1;
        color :#fff;
        text-shadow: 0 0 .2em rgba(#000,.2);
    }

    @media(min-width: 45em){
        text-align: left;

    &__image{
        margin: -5em 0 0 0;
    }
}
    
}

